.cartList{
    display: grid;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
    font-size: x-large;
    color: #373737;
}

.cartListTotal{
    display: grid;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    font-size: x-large;
    color: #373737;
}

.detailContainer{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.detailContainer button{
    font-size: 20px;
    font-weight: 500;
    color: #e4e4e4;
    border: 12px solid #373737;
    border-radius: 50px;
    border-color: #373737;
    background-color: #373737;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.detailContainer button:hover{
    color: #373737;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    cursor: pointer;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.totalPrice{
    padding-bottom: 10px;
    padding-right: 20px;
}

.text{
    padding-bottom: 15px;
}